@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200&display=swap');

*{
    font-family: 'Poppins', sans-serif;;
}
p{
    line-height: 2.5rem;
}

.nav-item{
    margin: auto 15px;
}

.nav-item a:hover{
    background-color: #282f9254;
    color: white;
    border-radius: 5px;
}

.first-row{
    margin-top: 200px;
}

.first-row .display-4{
    color: #282F92;
    font-weight:900;
}

.second-row{
    margin-top: 200px;
}

.second-row .tab{
    margin-left: 50px;
}

.third-row{
    margin-top: 200px;
}

.third-row .digital-tools{
    color: #282F92;
    font-weight:bolder;
}

.fourth-row{
    margin-top: 200px;
}

.fourth-row .our-feature{
    font-weight: 900;
    font-size: 60px;
}
.fourth-row .features{
    color: rgb(158, 157, 157);
}

.fifth-row{
    margin-top: 200px;
    background-color: #D2DAFF;
}

.fifth-row .container{
    padding: 50px 0;
}


footer{
    background-color: #ECF2FF;
    margin-top: 100px;
}

footer .container .row .col-lg-3{
    margin: 70px 0;
}

footer .container .row .col-lg-2{
    margin: 70px 0;
}


#footer-links .links a{
    margin-top: 10px;
    text-decoration: none;
}
